[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
"pdoc3" = "*"
build = "*"
pandas = "*"
matplotlib = "*"
torch = "*"
seaborn = "*"

[requires]
python_version = "3.6"
